---
import StoryKeep from "@layouts/StoryKeep.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import MenusTable from "@components/storykeep/components/MenusTable";
import { getAllMenus } from "../../../api/turso";
import type { AuthStatus, MenuDatum } from "../../../types";

const user = Astro.locals.user as AuthStatus;
const canonicalURL = new URL(`/storykeep/manage/menu`, Astro.site).href;

const menus = await getAllMenus();

const menuPayload: MenuDatum = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
      to: "/storykeep",
      internal: true,
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
      to: "/storykeep/logout",
      internal: true,
    },
  ],
};
---

<StoryKeep title="Manage Menus" canonicalURL={canonicalURL}>
  <Header
    title="Manage Menus"
    menu={menuPayload}
    slug="storykeep-manage-menus"
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <MenusTable menus={menus} client:load />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-menus`}
    isContext={false}
  />
</StoryKeep>
