---
import StoryKeep from "@layouts/StoryKeep.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ResourcesTable from "@components/storykeep/components/ResourcesTable";
import { getSetupChecks } from "../../../../utils/setupChecks";
import { getAllResources } from "../../../api/turso";
import type { AuthStatus, MenuDatum } from "../../../types";

// confirm set-up
const { hasConcierge, hasTurso, hasBranding, hasContent } = getSetupChecks();
if (!hasConcierge || !hasTurso || !hasBranding || !hasContent) {
  return Astro.redirect("/storykeep");
}

const user = Astro.locals.user as AuthStatus;
const canonicalURL = new URL(`/storykeep/manage/resources`, Astro.site).href;

const resources = await getAllResources();

const menuPayload: MenuDatum = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
      to: "/storykeep",
      internal: true,
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
      to: "/storykeep/logout",
      internal: true,
    },
  ],
};
---

<StoryKeep title="Manage Resources" canonicalURL={canonicalURL}>
  <Header
    title="Manage Resources"
    menu={menuPayload}
    slug="storykeep-manage-resources"
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <ResourcesTable resources={resources} client:load />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-resources`}
    isContext={false}
  />
</StoryKeep>
