---
import StoryKeep from "@layouts/StoryKeep.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ResourceEditor from "@components/storykeep/components/ResourceEditor";
import { getResourcesBySlug } from "../../../../api/turso";
import { ulid } from "ulid";
import type { AuthStatus, MenuDatum, ResourceDatum } from "../../../../types";

const { slug } = Astro.params;
const create = slug === "create";

const user = Astro.locals.user as AuthStatus;
const canonicalURL = new URL(`/storykeep/manage/resource/${slug}`, Astro.site)
  .href;

let resource: ResourceDatum;

if (create) {
  resource = {
    id: ulid(),
    title: "",
    slug: "",
    category: null,
    actionLisp: "",
    oneliner: "",
    optionsPayload: {},
  };
} else {
  if (!slug) return Astro.redirect("/404");
  const resources = await getResourcesBySlug([slug]);
  resource = resources[0];
  if (!resource) return Astro.redirect("/404");
}

const menuPayload: MenuDatum = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
      to: "/storykeep",
      internal: true,
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
      to: "/storykeep/logout",
      internal: true,
    },
  ],
};
---

<StoryKeep
  title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
  canonicalURL={canonicalURL}
>
  <Header
    title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
    menu={menuPayload}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <ResourceEditor
          resource={resource}
          onCancel={() => {
            // This function will be called client-side
            window.location.href = "/storykeep/manage/resources";
          }}
          onSave={updatedResource => {
            // This function will be called client-side
            console.log("Save", updatedResource);
            // TODO: Implement actual save logic
            window.location.href = "/storykeep/manage/resources";
          }}
          client:load
        />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
  />
</StoryKeep>
