---
import StoryKeep from "@layouts/StoryKeep.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ImpressionWrapper from "@components/ImpressionWrapper";
import { ContentSearchWrapper } from "../components/storykeep/components/ContentSearchWrapper";
import PageViewStats from "../components/storykeep/components/PageViewStats";
import DashboardActivity from "../components/storykeep/nivo/DashboardActivity";
import WhatsHot from "../components/storykeep/components/WhatsHot";
import StoryKeepDashboardStore from "../components/storykeep/StoryKeepDashboardStore";
import { getFullContentMap } from "../api/turso";
import type {
  FullContentMap,
  AuthStatus,
  ImpressionDatum,
  MenuDatum,
} from "../types";

// user authenticated?
const user = Astro.locals.user as AuthStatus;

// set the canonicalUrl to the actual storyfragment
const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/storykeep`, baseUrl).href;

// get storykeep datum
const payload = await getFullContentMap();
const filterPayload = payload.filter(
  (e: FullContentMap) =>
    e.type === `StoryFragment` || (e.type === `Pane` && e.isContext)
);
if (!payload) {
  return Astro.redirect("/404");
}

// menu
const links = [
  {
    name: "Logout",
    description: "Close this session",
    featured: true,
    actionLisp: "(goto (storykeep logout))",
  },
];
if (user?.isAuthenticated)
  links.unshift({
    name: "Settings",
    description: "Your Story Keep Settings",
    featured: true,
    actionLisp: "(goto (storykeep settings))",
  });
const menuPayload = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: links,
} as MenuDatum;

// impression
const impressions = user.isOpenDemo
  ? [
      {
        id: `storykeep`,
        parentId: `storykeep`,
        title: "Would you like your website to be built with Tract Stack?",
        body: "We offer Tract Stack as a service with premium agency support.",
        actionLisp: "",
        buttonText: "Interested!",
        actionsLisp: "(goto (url https://tractstack.com/#pricing))",
      },
    ]
  : ([] as ImpressionDatum[]);
---

<StoryKeep title="Welcome to your Story Keep" canonicalURL={canonicalURL}>
  {
    user.isOpenDemo ? (
      <div class="my-1 pt-2 shadow-inner px-1">
        <span class="inline-flex items-center rounded-md bg-mygreen/20 px-4 py-1 text-lg text-black w-full justify-center">
          <span class="font-bold">You are in Demo Mode:</span> &nbsp; Reload to reset and start over.
          Have fun, and seriously... try to break things!
        </span>
      </div>
    ) : null
  }
  <Header
    title="Welcome to your Story Keep"
    menu={menuPayload}
    slug="storykeep"
    isContext={false}
    impressions={impressions}
    user={user}
    isStoryKeep={true}
  />
  <StoryKeepDashboardStore client:load />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5 flex gap-y-12 flex-col">
        <PageViewStats client:load />
        <ContentSearchWrapper contentMap={filterPayload} client:load />
        <div class="flex flex-col xs:flex-row gap-6">
  <div class="rounded-md bg-mywhite shadow-inner w-full xs:w-1/2 py-7">
    <div class="px-3.5 py-1.5">
      <h2
        id="create-new-page-heading"
        class="block text-xl leading-6 text-black mb-4"
      >
        Create new page
      </h2>
      <div
        class="mt-1 flex flex-col gap-4"
        role="group"
        aria-labelledby="create-new-page-heading"
      >
        <a
          href="/storykeep/create/storyfragment"
          class="flex items-center justify-center px-6 py-3 rounded-md text-lg bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
          role="button"
          title="Add an interactive page to your website"
        >
          StoryFragment
        </a>
        <a
          href="/storykeep/create/context"
          class="flex items-center justify-center px-6 py-3 rounded-md text-lg bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
          role="button"
          title="Add a short 'for-further-reading' page"
        >
          Context Page
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-6 w-full xs:w-1/2">
    <div class="rounded-md bg-mywhite shadow-inner w-full py-3.5">
      <div class="px-3.5 py-1.5">
        <h2
          id="create-new-page-heading-2"
          class="block text-lg leading-6 text-black mb-2"
        >
          Create...
        </h2>
        <div
          class="mt-1 flex flex-wrap gap-2"
          role="group"
          aria-labelledby="create-new-page-heading-2"
        >
          <a
            href="/storykeep/manage/resource/create"
            class="flex items-center px-3 py-1.5 rounded-md text-sm bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
            role="button"
          >
            Resource
          </a>
          <a
            href="/storykeep/manage/menu/create"
            class="flex items-center px-3 py-1.5 rounded-md text-sm bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
            role="button"
          >
            Menu
          </a>
        </div>
      </div>
    </div>

    <div class="rounded-md bg-mywhite shadow-inner w-full py-3.5">
      <div class="px-3.5 py-1.5">
        <h2
          id="create-new-page-heading-3"
          class="block text-lg leading-6 text-black mb-2"
        >
          Manage / Browse
        </h2>
        <div
          class="mt-1 flex flex-wrap gap-2"
          role="group"
          aria-labelledby="create-new-page-heading-3"
        >
          <a
            href="/storykeep/manage/image"
            class="flex items-center px-3 py-1.5 rounded-md text-sm bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
            role="button"
          >
            Images
          </a>
          <a
            href="/storykeep/manage/resources"
            class="flex items-center px-3 py-1.5 rounded-md text-sm bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
            role="button"
          >
            Resources
          </a>
          <a
            href="/storykeep/manage/menu"
            class="flex items-center px-3 py-1.5 rounded-md text-sm bg-white text-mydarkgrey border border-mydarkgrey hover:bg-myorange/50"
            role="button"
          >
            Menus
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
        <DashboardActivity client:only="react" />
        <WhatsHot contentMap={payload} client:load />
      </div>
    </div>
  </main>
  {
    impressions?.length ? (
      <ImpressionWrapper
        slug={`storykeep`}
        isContext={false}
        payload={impressions}
        client:idle
      />
    ) : null
  }
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep`}
    isContext={false}
  />
</StoryKeep>
