---
import { getStoryFragmentBySlug } from "../../api/turso";
import Layout from "@layouts/StoryKeep.astro";
import { EditModal } from "@components/storykeep/EditModal";
import { StoryFragment } from "@components/storykeep/StoryFragment";
import { StoryKeepStore } from "@components/storykeep/StoryKeepStore";
import { StoryFragmentHeader } from "@components/storykeep/StoryFragmentHeader";

// which storyfragment?
const { slug } = Astro.params;
const lookup = slug || import.meta.env.PUBLIC_HOME;
if (!slug) return Astro.redirect("/404");

// set the canonicalUrl to the actual storyfragment
const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/${lookup !== slug ? slug : ``}`, baseUrl).href;

// get storyfragment datum
const storyfragment = await getStoryFragmentBySlug(slug);
if (!storyfragment) {
  return Astro.redirect("/404");
}
---

<Layout
  title={storyfragment.title}
  pubDatetime={storyfragment.created}
  modDatetime={storyfragment.changed}
  ogImage={storyfragment.socialImagePath}
  canonicalURL={canonicalURL}
>
  <div class="m-0 p-0 flex flex-col bg-slate-50">
    <StoryKeepStore client:load storyfragment={storyfragment} />
    <header
      class="z-10 bg-white shadow-md px-4 flex justify-between items-center"
      id="main-header"
    >
      <StoryFragmentHeader client:load id={storyfragment.id} />
      <!--
      <h1 class="text-2xl font-bold">StoryKeep</h1>
      <div class="flex space-x-2">
        <button
          class="viewport-button px-4 py-2 bg-gray-200 border border-gray-300 rounded-md hover:bg-gray-300 transition-colors"
          data-viewport="auto">Auto</button
        >
        <button
          class="viewport-button px-4 py-2 bg-gray-200 border border-gray-300 rounded-md hover:bg-gray-300 transition-colors"
          data-viewport="xs">XS</button
        >
        <button
          class="viewport-button px-4 py-2 bg-gray-200 border border-gray-300 rounded-md hover:bg-gray-300 transition-colors"
          data-viewport="md">MD</button
        >
        <button
          class="viewport-button px-4 py-2 bg-gray-200 border border-gray-300 rounded-md hover:bg-gray-300 transition-colors"
          data-viewport="xl">XL</button
        >
      </div>
      -->
    </header>

    <div id="main-content" class="flex-1 flex">
      <main id="website-content" class="flex-1 overflow-y-auto p-4 bg-white">
        <StoryFragment id={storyfragment.id} client:load />
        <!--
        <h2 class="text-xl font-semibold mb-4">Website Content</h2>
        <p>lorem ipsum</p>
        <div
          class="editable-element mt-4 p-2 border border-gray-300 rounded-md cursor-pointer"
          data-element-id="1"
        >
          <p>This is an editable element. Click to edit.</p>
        </div>
        <p>lorem ipsum</p>
        <div
          class="editable-element mt-4 p-2 border border-gray-300 rounded-md cursor-pointer"
          data-element-id="2"
        >
          <p>This is an editable element. Click to edit.</p>
        </div>
        <p>lorem ipsum</p>
        <div
          class="editable-element mt-4 p-2 border border-gray-300 rounded-md cursor-pointer"
          data-element-id="3"
        >
          <p>This is an editable element. Click to edit.</p>
        </div>
        <p>lorem ipsum</p>
        -->
      </main>

      <aside
        id="edit-pane"
        class="invisible opacity-0 w-0 transition-all duration-300 ease-in-out bg-slate-100 border-l border-gray-300 p-4 overflow-y-auto fixed right-0 top-0 bottom-0 h-full"
      >
        <EditModal id={storyfragment.id} client:load />
        <!--
        <h3 class="text-lg font-semibold mb-2">Edit Mode</h3>
        <p id="edit-info"></p>
        <p>lorem ipsum</p>
        -->
      </aside>
    </div>

    <div
      id="edit-modal-mobile"
      class="invisible opacity-0 fixed bg-slate-100 shadow-md z-20 transition-all duration-300 ease-in-out flex flex-col w-full overflow-y-auto"
    >
      <EditModal id={storyfragment.id} client:load />
      <!--
      <h3 class="text-lg font-semibold mb-2">Edit Mode (Mobile/Tablet)</h3>
      <div class="overflow-y-auto p-4 flex-grow">
        <p id="edit-info-mobile"></p>
        <p>lorem ipsum</p>
      </div>
        -->
    </div>
  </div>
</Layout>

<script>
  import { initStoryKeep } from "../../utils/storykeep";

  document.addEventListener("DOMContentLoaded", () => {
    initStoryKeep();
  });
</script>
