---
import {
  getContentMap,
  getAllFileDatum,
  getStoryFragmentBySlug,
} from "../../api/turso";
import { cleanTursoFileDatum } from "../../utils/compositor/tursoFileDatum";
import StoryKeep from "@layouts/StoryKeep.astro";
import { EditModal } from "@components/storykeep/EditModal";
import { StoryFragment } from "@components/storykeep/StoryFragment";
import { StoryKeepStore } from "@components/storykeep/StoryKeepStore";
import { StoryKeepHeader } from "@components/storykeep/StoryKeepHeader";
import type { AuthStatus, ContentMap } from "../../types";

const user = Astro.locals.user as AuthStatus;

const { slug } = Astro.params;

if (!slug) return Astro.redirect("/404");

const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/${slug}`, baseUrl).href;

const filesRaw = await getAllFileDatum();
const files = cleanTursoFileDatum(filesRaw);

const storyfragment = await getStoryFragmentBySlug(slug);
if (!storyfragment && slug !== `create`) {
  return Astro.redirect("/404");
}

const contentMap: ContentMap[] = await getContentMap();
---

<StoryKeep
  title={storyfragment?.title}
  pubDatetime={storyfragment?.created}
  modDatetime={storyfragment?.changed}
  ogImage={storyfragment?.socialImagePath}
  canonicalURL={canonicalURL}
>
  <div
    id="storykeep-content"
    class="m-0 p-0 flex flex-col bg-myblue w-full"
    style="background-image:repeating-linear-gradient( 45deg, transparent, transparent 10px, rgba(0,0,0, 0.1) 10px, rgba(0,0,0, 0.1) 20px )"
    ,
  >
    {
      storyfragment && (
        <StoryKeepStore client:only="react" storyfragment={storyfragment} />
      )
    }
    <header
      class="z-10 bg-mywhite shadow-inner px-4 flex justify-between items-center w-full"
      id="main-header"
    >
      <StoryKeepHeader
        client:only="react"
        id={slug === "create"
          ? `create`
          : storyfragment?.id
            ? storyfragment.id
            : `error`}
        slug={slug}
        isContext={false}
        contentMap={contentMap}
        user={user}
      />
    </header>

    <div id="storykeep" class="bg-white overflow-auto mx-auto w-full">
      <main id="website-content" class="overflow-auto w-full">
        <StoryFragment
          id={slug === "create" ? null : (storyfragment?.id ?? `error`)}
          slug={slug}
          isContext={false}
          client:only="react"
        />
        <div
          class="h-screen m-0 p-0 flex flex-col bg-myblack w-full"
          style="background-image:repeating-linear-gradient( 45deg, transparent, transparent 10px, rgba(0,0,0, 0.1) 10px, rgba(0,0,0, 0.1) 20px )"
        >
        </div>
      </main>

      <EditModal
        client:only="react"
        id={slug === "create"
          ? `create`
          : storyfragment?.id
            ? storyfragment.id
            : `error`}
        files={files}
        contentMap={contentMap}
      />
    </div>
  </div>

  <script>
    import { initStoryKeep } from "../../utils/storykeep";
    function setupStoryKeep() {
      initStoryKeep();
    }
    setupStoryKeep();
    document.addEventListener("astro:page-load", setupStoryKeep);
  </script>
</StoryKeep>
