---
import {
  getContentMap,
  getStoryFragmentBySlug /* getDatumPayload */,
} from "../../api/turso";
import Layout from "@layouts/StoryKeep.astro";
import { EditModal } from "@components/storykeep/EditModal";
import { StoryFragment } from "@components/storykeep/StoryFragment";
import { StoryKeepStore } from "@components/storykeep/StoryKeepStore";
import { StoryFragmentHeader } from "@components/storykeep/StoryFragmentHeader";
import type { ContentMap } from "../../types";

// which storyfragment?
const { slug } = Astro.params;
const lookup = slug || import.meta.env.PUBLIC_HOME;
if (!slug) return Astro.redirect("/404");

// set the canonicalUrl to the actual storyfragment
const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/${lookup !== slug ? slug : ``}`, baseUrl).href;

// get storyfragment datum
const storyfragment = await getStoryFragmentBySlug(slug);
if (!storyfragment) {
  return Astro.redirect("/404");
}

const contentMap: ContentMap[] = await getContentMap();

// get full datum payload (resources, files, tractstacks, menus)
//const payload = await getDatumPayload();
---

<Layout
  title={storyfragment.title}
  pubDatetime={storyfragment.created}
  modDatetime={storyfragment.changed}
  ogImage={storyfragment.socialImagePath}
  canonicalURL={canonicalURL}
>
  <div
    class="m-0 p-0 flex flex-col bg-mylightgrey/10 w-full"
    style="background-image: repeating-linear-gradient( 45deg, transparent, transparent 10px, rgba(255,255,255, 0.5) 10px, rgba(255,255,255, 0.5) 20px );"
  >
    <StoryKeepStore client:only="react" storyfragment={storyfragment} />
    <header
      class="z-10 bg-mywhite shadow-inner px-4 flex justify-between items-center w-full"
      id="main-header"
    >
      <StoryFragmentHeader
        client:only="react"
        id={storyfragment.id}
        slug={storyfragment.slug}
        contentMap={contentMap}
      />
    </header>

    <div id="storykeep" class="bg-white overflow-auto mx-auto w-full">
      <main id="website-content" class="overflow-auto w-full">
        <StoryFragment id={storyfragment.id} client:only="react" />
      </main>
    </div>

    <div
      id="edit-pane"
      class="z-[9000] fixed right-0 top-0 w-1/3 p-2 overflow-y-auto transition-all duration-300 ease-in-out transform translate-x-full overflow-y-auto
backdrop-blur-sm bg-mylightgrey/10 dark:bg-black/85
       rounded-bl-xl transition-all duration-300"
    >
      <EditModal
        client:media="(min-width: 1368px)"
        type="desktop"
        contentMap={contentMap}
        id={storyfragment.id}
      />
    </div>

    <div
      id="edit-modal-mobile"
      class="z-[9000] fixed bottom-0 right-0 p-2 transition-all duration-300 ease-in-out transform translate-y-full overflow-y-auto
backdrop-blur-sm bg-mylightgrey/10 dark:bg-black/85
           rounded-tl-xl transition-all duration-300"
    >
      <EditModal
        client:media="(max-width: 1367px)"
        type="mobile"
        contentMap={contentMap}
        id={storyfragment.id}
      />
    </div>
  </div>

  <script>
    import { initStoryKeep } from "../../utils/storykeep";

    document.addEventListener("DOMContentLoaded", () => {
      initStoryKeep();
    });
  </script>
</Layout>
