---
import Socials from "./other/Socials.astro";
import FooterMenu from "./FooterMenu.astro";
import Link from "./other/Link.astro";
import type { MenuDatum } from "../types";

export interface Props {
  created?: Date;
  menu?: MenuDatum | null;
  backToTop?: boolean;
  slug: string;
  isContext: boolean;
}

const footer = import.meta.env.PUBLIC_FOOTER || ``;
const {
  created = new Date(),
  backToTop = false,
  menu,
  slug,
  isContext,
} = Astro.props;
---

<div
  class="relative w-full h-6 md:h-8 bg-gradient-to-b from-transparent to-white z-99"
>
</div>
<footer class="w-full z-99 bg-white relative">
  <div class="flex justify-end px-6">
    {
      backToTop ? (
        <button
          id="top"
          title="Back to top"
          class="motion-safe:animate-fadeInUp font-action font-bold text-black px-1.5 rounded-md bg-white/20 border-mydarkgrey/20 border-2 hover:bg-myorange hover:text-white text-2xl fixed bottom-4 right-2"
        >
          ↑
        </button>
      ) : null
    }
  </div>
  <div class="pb-6">
    {
      menu ? (
        <FooterMenu payload={menu} slug={slug} isContext={isContext} />
      ) : null
    }
    <Socials />
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue"
    >
      <div class="px-12 text-center text-2xl">
        Copyright &#169; {created.getFullYear()}
        &nbsp;|&nbsp;
        {footer}
      </div>
    </div>
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue"
    >
      <div class="px-12 text-center text-lg">
        This website is pressed with
        <Link
          href="https://tractstack.com/?utm_source=tractstack&utm_medium=www&utm_campaign=community"
          className="underline font-bold hover:text-black"
          target="_blank"
          title="Tract Stack by At Risk Media"
        >
          Tract Stack</Link
        >
        and powered by <Link
          href="https://atriskmedia.com/?utm_source=tractstack&utm_medium=www&utm_campaign=community"
          className="underline font-bold hover:text-black"
          target="_blank"
          title="At Risk Media">At Risk Media</Link
        > next chapter in digital analytics
      </div>
      <br /><br /><br />
    </div>
  </div>
</footer>

<style>
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
</style>
