---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ShopifyImage } from "../../components/other/ShopifyImage";
import { Money } from "../../components/other/Money";
import { AddToCartForm } from "../../components/other/AddToCartForm";
import { getProductByHandle } from "../../utils/shopify/shopify";
import { setCache } from "../../utils/shopify/cache";
import type { StylesVersion } from "../../types";

const stylesVerUrl = `${import.meta.env.PUBLIC_CONCIERGE_STYLES_URL}/v.json`;
const requestStyles: Response = await fetch(stylesVerUrl);
const stylesVer: StylesVersion =
  requestStyles.status === 404 ? 0 : await requestStyles.json();
const stylesUrl = `${import.meta.env.PUBLIC_CONCIERGE_STYLES_URL}/frontend.css?v=${stylesVer?.v || 0}`;

const { handle } = Astro.params;
//const headers = Astro.request.headers;
//const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const ip = Astro.clientAddress;
const product = await getProductByHandle({ handle: handle || "", buyerIP: ip });
const firstVariant = product?.variants.nodes[0];

if (!product) {
  Astro.response.status = 404;
}

setCache.short(Astro);
---

<Layout
  title={product?.title || `404`}
  pubDatetime={new Date()}
  modDatetime={new Date()}
  stylesUrl={stylesUrl}
>
  <Header title={product?.title || `404`} slug={handle || `404`} />
  <main id="main-content">
    <div class="pt-6 pb-16 md:pb-24">
      <div class="mx-auto mt-8 max-w-2xl px-4 md:max-w-7xl md:px-8">
        <div class="md:grid md:auto-rows-min md:grid-cols-12 md:gap-x-8">
          <div class="md:col-span-5 md:col-start-8">
            <div class="flex justify-between">
              <h1 class="text-xl text-mydarkgrey">{product?.title}</h1>
              <p class="text-xl text-mydarkgrey">
                {
                  product ? (
                    <Money price={product?.variants.nodes[0].price} />
                  ) : null
                }
              </p>
            </div>
          </div>

          <div class="mt-8 md:col-span-7">
            {
              product ? (
                <ShopifyImage
                  client:load
                  classList=""
                  loading="eager"
                  image={product?.featuredImage}
                  sizes={`
                (min-width: 1540px) 348px,
                (min-width: 1280px) 284px,
                (min-width: 1040px) 309px,
                (min-width: 780px) 348px,
                (min-width: 640px) 284px,
                calc(100vw - 48px)
              `}
                />
              ) : null
            }
          </div>

          <div class="mt-8 md:col-span-5">
            <div>
              <AddToCartForm
                client:load
                variantId={firstVariant?.id || `404`}
                variantQuantityAvailable={firstVariant?.quantityAvailable || 0}
                variantAvailableForSale={firstVariant?.availableForSale ||
                  false}
              />
            </div>
            <div
              class="mt-8 text-lg space-y-3 text-mydarkgrey"
              set:html={product?.descriptionHtml}
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="pb-16 flex justify-center items-center
      text-2xl md:text-3xl"
    >
      <a
        href="/"
        class="px-3.5 py-2.5 bg-myblack text-white rounded-lg hover:rotate-1 hover:bg-myorange"
      >
        Close
      </a>
    </div>
  </main>
  <Footer created={new Date()} />
</Layout>
