---
import {
  getContentMap,
  getAllFileDatum,
  getContextPaneBySlug,
} from "../../../api/turso";
import { cleanTursoFileDatum } from "../../../utils/compositor/tursoFileDatum";
import StoryKeep from "@layouts/StoryKeep.astro";
import { EditModal } from "@components/storykeep/EditModal";
import { ContextPane } from "@components/storykeep/ContextPane";
import { StoryKeepContextStore } from "@components/storykeep/StoryKeepContextStore";
import { StoryKeepHeader } from "@components/storykeep/StoryKeepHeader";
import type { AuthStatus, ContentMap } from "../../../types";

const user = Astro.locals.user as AuthStatus;

const { slug } = Astro.params;

if (!slug) return Astro.redirect("/404");

const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/context/${slug}`, baseUrl).href;

const filesRaw = await getAllFileDatum();
const files = cleanTursoFileDatum(filesRaw);

const contextPane = await getContextPaneBySlug(slug);
if ((!contextPane || !contextPane.panePayload) && slug !== `create`)
  return Astro.redirect("/404");

const contentMap: ContentMap[] = await getContentMap();
---

<StoryKeep
  title={contextPane?.title}
  pubDatetime={contextPane?.created}
  modDatetime={contextPane?.changed}
  canonicalURL={canonicalURL}
>
  <div id="storykeep-content">
    {
      contextPane && (
        <StoryKeepContextStore client:only="react" pane={contextPane} />
      )
    }
    <header
      class="z-10 bg-mywhite shadow-inner px-4 flex justify-between items-center w-full"
      id="main-header"
    >
      <StoryKeepHeader
        client:only="react"
        id={slug === "create"
          ? `create`
          : contextPane?.id
            ? contextPane.id
            : `error`}
        slug={slug}
        isContext={true}
        contentMap={contentMap}
        user={user}
      />
    </header>

    <div id="storykeep" class="bg-white overflow-auto mx-auto w-full">
      <main id="website-content" class="overflow-auto w-full">
        <ContextPane
          id={slug === "create"
            ? null
            : contextPane?.id
              ? contextPane.id
              : `error`}
          slug={slug}
          client:only="react"
        />
      </main>
    </div>

    <EditModal
      client:only="react"
      id={contextPane?.id ?? `error`}
      files={files}
      contentMap={contentMap}
    />
  </div>
</StoryKeep>

<script>
  import { initStoryKeep } from "../../../utils/storykeep";

  document.addEventListener("DOMContentLoaded", () => {
    initStoryKeep();
  });
</script>
