---
import { ulid } from "ulid";
import StoryKeep from "@layouts/StoryKeep.astro";
import { getTractStackIdBySlug } from "../../../../api/turso";
import { getSetupChecks } from "../../../../utils/setupChecks";
import CreateNewAiPage from "@components/storykeep/components/CreateNewAiPage";

// confirm set-up
const { hasConcierge, hasTurso, hasBranding, hasContent } = getSetupChecks();
if (!hasConcierge || !hasTurso || !hasBranding || !hasContent) {
  return Astro.redirect("/storykeep");
}

const slug = `create`;
const newId = ulid();

const baseUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(`/${slug}`, baseUrl).href;

const TRACTSTACK_SLUG = import.meta.env.PUBLIC_TRACTSTACK;
const tractStackId = await getTractStackIdBySlug(TRACTSTACK_SLUG);
if (!tractStackId) {
  return Astro.redirect("/404");
}
---

<StoryKeep
  title="Create New Page"
  pubDatetime={new Date()}
  modDatetime={null}
  canonicalURL={canonicalURL}
>
  <div id="storykeep-content">
    <CreateNewAiPage
      mode="storyfragment"
      newId={newId}
      tractStackId={tractStackId}
      client:load
    />
  </div>
</StoryKeep>
